	.price-button{
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		font-weight: 600;	
		background-color: #82BB81;
		padding: 15px 25px;
		margin-left: 80px;
		transition: background-color 0.3s linear;
	}
	.price-btn{
		margin-top: 41px;
	}
	.price-button2{
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		font-weight: 600;	
		background-color: #82BB81;
		padding: 15px 25px;
		margin-left: 80px;
		transition: background-color 0.3s linear;
	}
	.price-button3{
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		font-weight: 600;	
		background-color: #82BB81;
		padding: 15px 25px;
		margin-left: 80px;
		transition: background-color 0.3s linear;
	}
	.card-title-price1{
		padding-top: 40px;
		color: #fff;
		padding-left: 0px;
		font-size: 24px;
		font-weight: 600;
		text-align: center;
	}
	.price-button4{
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		font-weight: 600;	
		background-color: #82BB81;
		padding: 15px 25px;
		margin-left: 80px;
		transition: background-color 0.3s linear;
	}
	.cost4{
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		margin-top: 80px;
		margin-left: 53px;
	}
	.cost3{
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		margin-top: 43px;
		margin-left: 53px;
	}
	.card-price111{
		display: flex;
		margin-left: 100px;
	}
	.card-price{
		margin: -220px;
	}
	.price-button:hover{
		background-color: #336699;
	}
	.cost2{
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		margin-top: 50px;
		margin-left: 53px;
	}
	.cost1{
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		margin-top: 32px;
		margin-left: 53px;
	}

	.card-price{
		background-image: url('price-card.png');
		width: 310px;
		height: 510px;
		margin-left: 145px;
		margin-top: 20px;
	}
	.card-title-price{
		padding-top: 40px;
		color: #fff;
		padding-left: 18px;
		font-size: 24px;
		font-weight: 600;
	}
	.card-text-price{
		color: #fff;
		font-size: 16px;
		font-weight: 200;
		margin-left: 16px;
		margin-top: 30px;
	}
	.price-subtitle{
		color: #fff;
		font-weight: 400;
		font-size: 20px;
		margin-top: 44px;
		margin-left: 375px;
	}
	.price-list{
		background: #333333;
		height: 140vh;
	}