.nabor{
	margin-top: 10px;
	margin-left: 166px;
	height: 770px;
}
.button{
	height: 200px;
    margin-top: 72px;
    margin-left: 30%;
}
.header{
	background-image: url('bc.jpg');
	height: 2400px;
	width: 140vw;
	background-repeat: no-repeat;
	background-size: cover;	
	align-items: center;
}
